
<div class="container-fluid">
  <h1> <%= t("global.post.#{@post_type}") %> <%= t("global.post.new") %> </h1>
  <%= render "form", post: @post %>
  <br>
  <div>
    <%= link_to t("global.post.back_to_posts"), posts_path ,class:"btn btn-outline-dark btn-sm"%>
  </div>
</div>