<h1> all users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th> Authority</th>
      <th> Change Authority </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.authority %></td>
        <td>
          <div class="d-flex  ">
            <%= button_to 'staff', change_authority_admin_user_path(id: user.id, authority: "staff"), method: "patch" , class: "btn btn-primary btn-sm m-2"%> | 
            <%= button_to 'visitor', change_authority_admin_user_path(id: user.id, authority: "visitor"), method: "patch" , class: "btn btn-primary btn-sm m-2"%>  
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>